<div class="panel panel-success">
  <div class="panel-heading">
    <p>Answer By: {{answer.author}}</p>
  </div>
  <div class="panel-body">
    <p>{{answer.content}}</p>
  </div>
  <button {{action 'delete' answer}}>Delete answer</button>
</div>
