{{#link-to 'question' question.id}}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <p>Question by: {{question.author}}</p>
    </div>
    <div class="panel-body">
      <p>{{question.content}}</p>
    </div>
  </div>
  {{/link-to}}
