
<h3>Publish a new: {{new-post savePost="savePost" post=model}}</h3>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <p>By: {{question.author}}</p>
    </div>
    <div class="panel-body">
      <p>{{question.content}}</p>
    </div>
  </div>
