<div class="panel panel-primary">
  <div class="panel-heading">
    <p>Question by: {{question.author}}</p>
  </div>
  <div class="panel-body">
    <p>Question:{{question.content}}</p>
    <p>Additional comments:{{question.notes}}</p>
  </div>
  <button {{action 'delete' question}}>Delete question</button>
</div>
