
{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{update-question question=model update="update"}}

<hr>

  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}


<h4>Publish a:{{new-answer saveAnswer="saveAnswer" question=model}}
</h4>
