
{{question-detail question=model destroyQuestion="destroyQuestion"}}

<h4>Publish a:{{new-answer saveAnswer="saveAnswer" question=model}}
</h4>

<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
